* {
    box-sizing: border-box;
    margin:0;
}


.container {
   
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container__main {
   
    /* Take the remaining height */
    flex-basis: 60%;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.container__left {
    width: 33%;
    background-color: rgb(196, 148, 37);
  
    

      
    
}

.container__middle {
    /* Take the remaining width */
    
    background-color: rgb(183, 132, 218);
    width: 33%;
    
   
}

.container__right {
    background-color: rgb(219, 45, 45);
    width: 33%;
    
}

section {
    background-color: rgb(184, 210, 222);
    flex-basis: 10%;
}

footer {
    background-color: rgb(251, 255, 255);
    flex-basis: 40% ;
}

header {
    align-self:center; 
    background-color: rgb(125, 184, 224);
    border-top: 30px solid blue;
    flex-basis: 30%;  
    width: 100%;
   
    
}

p {
    margin-top: 3rem;
    padding:5px;
    text-align: center;
   
}

